.about {
  padding: 40px 0;
  background-color: #ffffff;
}

.about-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 100px;
  align-items: center;
}

.about-text p {
  font-size: 20px;
  margin-bottom: 24px;
  text-align: justify;
  color: var(--cor-4);
}

.about-image {
  overflow: hidden;
}

.about-image img {
  width: 90%;
  height: auto;
  display: block;
}

@media (max-width: 768px) {
  .about {
    padding: 24px 0;
  }

  .about-content {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .about-image {
    justify-items: center;
  }
}
