@import url("css/global.css");
@import url("css/.about.css");
@import url("css/footer.css");
@import url("css/global.css");
@import url("css/header.css");
@import url("css/hero.css");
@import url("css/mobile.css");
@import url("css/pillars.css");
@import url("css/services.css");
@import url("css/styles.css");
@import url("css/team.css");
@import url("css/contato.css");
@import url("css/politica.css");
@import url("css/exames.css");
@import url("css/termos.css");
@import url("css/servicos.css");
